.parent>div{
    background-color: greenyellow;
    text-align: center;
    width:100px;
    margin:5px;
    font-size: 25px;   
}

.parent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

#five{
    flex-shrink:3;
}